/* line 1, ../sass/theme-styles.scss */
.table code {
  font-size: 13px;
  font-weight: 400;
}

/* line 1, ../sass/theme-styles.scss */
.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}

/* line 1, ../sass/theme-styles.scss */
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-booticon {
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #563d7c;
  border-radius: 15%;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-booticon-sm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 28px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-booticon-lg {
  width: 144px;
  height: 144px;
  font-size: 108px;
  line-height: 140px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-booticon-inverse {
  color: #563d7c;
  background-color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-booticon-outline {
  background-color: transparent;
  border: 1px solid #cdbfe3;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-home-nav .bs-nav-b {
  display: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav > li > a {
  font-weight: 500;
  color: #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-nav .navbar-nav > li > a:hover, .bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover {
  color: #463265;
  background-color: #f9f9f9;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-nav .navbar-header .navbar-toggle:hover, .bs-docs-nav .navbar-header .navbar-toggle:focus {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-footer-links li {
  display: inline;
  padding: 0 2px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-social {
  margin-bottom: 20px;
  text-align: center;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-social-buttons .twitter-follow-button {
  width: 225px !important;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-social-buttons .twitter-share-button {
  width: 98px !important;
}

/* line 1, ../sass/theme-styles.scss */
.github-btn {
  overflow: hidden;
  border: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-masthead, .bs-docs-header {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 30px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #9783b9;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}

@media (min-width: 480px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead .btn {
    width: auto;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead {
    padding: 80px 0;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead h1 {
    font-size: 60px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead .lead {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-header h1 {
  margin-top: 0;
  color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-header h1, .bs-docs-header p {
    margin-right: 380px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.carbonad {
  width: auto !important;
  height: auto !important;
  padding: 20px !important;
  margin: 30px -30px -31px !important;
  overflow: hidden;
  font-size: 13px !important;
  line-height: 16px !important;
  text-align: left;
  background: transparent !important;
  border: solid #866ab3 !important;
  border-width: 1px 0 !important;
}

/* line 1, ../sass/theme-styles.scss */
.carbonad-img {
  margin: 0 !important;
}

/* line 1, ../sass/theme-styles.scss */
.carbonad-text, .carbonad-tag {
  display: block !important;
  float: none !important;
  width: auto !important;
  height: auto !important;
  margin-left: 145px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* line 1, ../sass/theme-styles.scss */
.carbonad-text {
  padding-top: 0 !important;
}

/* line 1, ../sass/theme-styles.scss */
.carbonad-tag {
  color: inherit !important;
  text-align: left !important;
}

/* line 1, ../sass/theme-styles.scss */
.carbonad-text a, .carbonad-tag a {
  color: #fff !important;
}

/* line 1, ../sass/theme-styles.scss */
.carbonad #azcarbon > img {
  display: none;
}

@media (min-width: 480px) {
  /* line 1, ../sass/theme-styles.scss */
  .carbonad {
    width: 330px !important;
    margin: 20px auto !important;
    border-width: 1px !important;
    border-radius: 4px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead .carbonad {
    margin: 50px auto 0 !important;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .carbonad {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/theme-styles.scss */
  .carbonad {
    position: absolute;
    top: 0;
    right: 15px;
    width: 330px !important;
    padding: 15px !important;
    margin: 0 !important;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-masthead .carbonad {
    position: static;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette + .bs-docs-footer {
  margin-top: 0;
  border-top: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 400;
  color: #333;
}

/* line 1, ../sass/theme-styles.scss */
.half-rule {
  width: 100px;
  margin: 40px auto;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette h3 {
  margin-bottom: 5px;
  font-weight: 400;
  color: #333;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette-img {
  display: block;
  margin-bottom: 20px;
  color: #333;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette-img:hover {
  color: #428bca;
  text-decoration: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featurette-img img {
  display: block;
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featurette .img-responsive {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featurette {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featurette-title {
    font-size: 40px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featurette .lead {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featured-sites .col-sm-3:first-child img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featured-sites .col-sm-3:last-child img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featurette .img-responsive {
    margin-top: 0;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-featured-sites {
  margin-right: -1px;
  margin-left: -1px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featured-sites .col-sm-3 {
  padding-right: 1px;
  padding-left: 1px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-featured-sites .img-responsive {
  margin-bottom: 15px;
}

@media (min-width: 480px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-featured-sites .img-responsive {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-examples {
    margin-right: -10px;
    margin-left: -10px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-examples > [class^=col-] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar.affix {
  position: static;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* line 1, ../sass/theme-styles.scss */
.back-to-top, .bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.back-to-top:hover, .bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-theme-toggle {
  margin-top: 0;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .back-to-top, .bs-docs-theme-toggle {
    display: block;
  }
}
@media (min-width: 992px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 20px;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar.affix-bottom {
    position: absolute;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
    width: 263px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-docs-section {
  margin-bottom: 60px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-docs-section:last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
h1[id] {
  padding-top: 20px;
  margin-top: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout code {
  border-radius: 3px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout + .bs-callout {
  margin-top: -5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout-danger {
  border-left-color: #d9534f;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout-danger h4 {
  color: #d9534f;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout-warning {
  border-left-color: #f0ad4e;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout-warning h4 {
  color: #f0ad4e;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout-info {
  border-left-color: #5bc0de;
}

/* line 1, ../sass/theme-styles.scss */
.bs-callout-info h4 {
  color: #5bc0de;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches {
  margin: 0 -5px;
  overflow: hidden;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatch {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  border-radius: 3px;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .color-swatch {
    width: 100px;
    height: 100px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.color-swatches .gray-darker {
  background-color: #222;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .gray-dark {
  background-color: #333;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .gray {
  background-color: #555;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .gray-light {
  background-color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .gray-lighter {
  background-color: #eee;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .brand-primary {
  background-color: #428bca;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .brand-success {
  background-color: #5cb85c;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .brand-warning {
  background-color: #f0ad4e;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .brand-danger {
  background-color: #d9534f;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .brand-info {
  background-color: #5bc0de;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .bs-purple {
  background-color: #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .bs-purple-light {
  background-color: #c7bfd3;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .bs-purple-lighter {
  background-color: #e5e1ea;
}

/* line 1, ../sass/theme-styles.scss */
.color-swatches .bs-gray {
  background-color: #f9f9f9;
}

/* line 1, ../sass/theme-styles.scss */
.bs-team .team-member {
  line-height: 32px;
  color: #555;
}

/* line 1, ../sass/theme-styles.scss */
.bs-team .team-member:hover {
  color: #333;
  text-decoration: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-team .github-btn {
  float: right;
  width: 180px;
  height: 20px;
  margin-top: 6px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-team img {
  float: left;
  width: 32px;
  margin-right: 10px;
  border-radius: 4px;
}

/* line 1, ../sass/theme-styles.scss */
.show-grid {
  margin-bottom: 15px;
}

/* line 1, ../sass/theme-styles.scss */
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}

/* line 1, ../sass/theme-styles.scss */
.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}

/* line 1, ../sass/theme-styles.scss */
.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}

/* line 1, ../sass/theme-styles.scss */
.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-example + .highlight {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-example .container {
  width: auto;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > p:last-child, .bs-example > ul:last-child, .bs-example > ol:last-child, .bs-example > blockquote:last-child, .bs-example > .form-control:last-child, .bs-example > .table:last-child, .bs-example > .navbar:last-child, .bs-example > .jumbotron:last-child, .bs-example > .alert:last-child, .bs-example > .panel:last-child, .bs-example > .list-group:last-child, .bs-example > .well:last-child, .bs-example > .progress:last-child, .bs-example > .table-responsive:last-child > .table {
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > p > .close {
  float: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-type .table .type-info {
  color: #999;
  vertical-align: middle;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-type .table tr:first-child td {
  border-top: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-type h1, .bs-example-type h2, .bs-example-type h3, .bs-example-type h4, .bs-example-type h5, .bs-example-type h6 {
  margin: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-bg-classes p {
  padding: 15px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .img-circle, .bs-example > .img-rounded, .bs-example > .img-thumbnail {
  margin: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .table-responsive > .table {
  background-color: #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .btn, .bs-example > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-control-sizing select, .bs-example-control-sizing input[type=text] + input[type=text] {
  margin-top: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-form .input-group {
  margin-bottom: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > textarea.form-control {
  resize: vertical;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .list-group {
  max-width: 400px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example .navbar:last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-top-example, .bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  overflow: hidden;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-top-example .navbar-header, .bs-navbar-bottom-example .navbar-header {
  margin-left: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-top-example {
  padding-bottom: 45px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-top-example:after {
  top: auto;
  bottom: 15px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-top-example .navbar-fixed-top {
  top: -1px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-bottom-example {
  padding-top: 45px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-navbar-top-example .navbar-fixed-top, .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-example .pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .pager {
  margin-top: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-modal {
  background-color: #f5f5f5;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-modal .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .dropdown > .dropdown-toggle {
  float: left;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
  clear: left;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-tooltips {
  text-align: center;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-tooltips > .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}

/* line 1, ../sass/theme-styles.scss */
.bs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}

/* line 1, ../sass/theme-styles.scss */
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

/* line 1, ../sass/theme-styles.scss */
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

/* line 1, ../sass/theme-styles.scss */
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  word-wrap: nowrap;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* line 1, ../sass/theme-styles.scss */
.highlight pre code {
  max-width: 100%;
  font-size: inherit;
  color: #333;
}

/* line 1, ../sass/theme-styles.scss */
.highlight pre code:first-child {
  display: inline-block;
}

/* line 1, ../sass/theme-styles.scss */
.table-responsive .highlight pre {
  white-space: normal;
}

/* line 1, ../sass/theme-styles.scss */
.bs-table th small, .responsive-utilities th small {
  display: block;
  font-weight: 400;
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities tbody th {
  font-weight: 400;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities td {
  text-align: center;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities-test {
  margin-top: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.responsive-utilities-test span {
  display: block;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
}

/* line 1, ../sass/theme-styles.scss */
.visible-on .col-xs-6 .hidden-xs, .visible-on .col-xs-6 .hidden-sm, .visible-on .col-xs-6 .hidden-md, .visible-on .col-xs-6 .hidden-lg, .hidden-on .col-xs-6 .hidden-xs, .hidden-on .col-xs-6 .hidden-sm, .hidden-on .col-xs-6 .hidden-md, .hidden-on .col-xs-6 .hidden-lg {
  color: #999;
  border: 1px solid #ddd;
}

/* line 1, ../sass/theme-styles.scss */
.visible-on .col-xs-6 .visible-xs-block, .visible-on .col-xs-6 .visible-sm-block, .visible-on .col-xs-6 .visible-md-block, .visible-on .col-xs-6 .visible-lg-block, .hidden-on .col-xs-6 .visible-xs-block, .hidden-on .col-xs-6 .visible-sm-block, .hidden-on .col-xs-6 .visible-md-block, .hidden-on .col-xs-6 .visible-lg-block {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

/* line 1, ../sass/theme-styles.scss */
.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}

/* line 1, ../sass/theme-styles.scss */
.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
}

/* line 1, ../sass/theme-styles.scss */
.bs-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

/* line 1, ../sass/theme-styles.scss */
.bs-glyphicons li:hover {
  color: #fff;
  background-color: #563d7c;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-glyphicons li {
    width: 12.5%;
    font-size: 12px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-customizer .toggle {
  float: right;
  margin-top: 25px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer label {
  margin-top: 10px;
  font-weight: 500;
  color: #555;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer h2 {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer h3 {
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer h4 {
  margin-top: 15px;
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer .bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer input[type=text] {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #fafafa;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer .help-block {
  margin-bottom: 5px;
  font-size: 12px;
}

/* line 1, ../sass/theme-styles.scss */
#less-section label {
  font-weight: 400;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer-input {
  float: left;
  width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customize-download .btn-outline {
  padding: 20px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer-alert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 15px 0;
  color: #fff;
  background-color: #d9534f;
  border-bottom: 1px solid #b94441;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer-alert .close {
  margin-top: -4px;
  font-size: 24px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer-alert p {
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer-alert .glyphicon {
  margin-right: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-customizer-alert pre {
  margin: 10px 0 0;
  color: #fff;
  background-color: #a83c3a;
  border-color: #973634;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-logos {
  display: table;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  color: #563d7c;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item {
  padding: 60px 0;
  text-align: center;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item + .bs-brand-item {
  border-top: 1px solid #fff;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-logos .inverse {
  color: #fff;
  background-color: #563d7c;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item .svg {
  width: 144px;
  height: 144px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item h1, .bs-brand-item h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item .bs-docs-booticon {
  margin-right: auto;
  margin-left: auto;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item .glyphicon {
  width: 30px;
  height: 30px;
  margin: 10px auto -10px;
  line-height: 30px;
  color: #fff;
  border-radius: 50%;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item .glyphicon-ok {
  background-color: #5cb85c;
}

/* line 1, ../sass/theme-styles.scss */
.bs-brand-item .glyphicon-remove {
  background-color: #d9534f;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .bs-brand-item {
    display: table-cell;
    width: 1%;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-brand-item + .bs-brand-item {
    border-top: 0;
    border-left: 1px solid #fff;
  }

  /* line 1, ../sass/theme-styles.scss */
  .bs-brand-item h1 {
    font-size: 60px;
  }
}
/* line 1, ../sass/theme-styles.scss */
.bs-examples .thumbnail {
  margin-bottom: 10px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-examples h4 {
  margin-bottom: 5px;
}

/* line 1, ../sass/theme-styles.scss */
.bs-examples p {
  margin-bottom: 20px;
}

/* line 1, ../sass/theme-styles.scss */
#focusedInput {
  color: #1e2d3a;
  border-color: rgba(30, 45, 58, 0.7);
  outline: 0;
  outline: thin dotted \9;
}

/* line 1, ../sass/theme-styles.scss */
.zero-clipboard {
  position: relative;
  display: none;
}

/* line 1, ../sass/theme-styles.scss */
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

/* line 1, ../sass/theme-styles.scss */
.btn-clipboard-hover {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

@media (min-width: 768px) {
  /* line 1, ../sass/theme-styles.scss */
  .zero-clipboard {
    display: block;
  }
}
/* line 1, ../sass/theme-styles.scss */
.hll {
  background-color: #ffc;
}

/* line 1, ../sass/theme-styles.scss */
.c {
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.err {
  color: #A00;
  background-color: #FAA;
}

/* line 1, ../sass/theme-styles.scss */
.k {
  color: #069;
}

/* line 1, ../sass/theme-styles.scss */
.o {
  color: #555;
}

/* line 1, ../sass/theme-styles.scss */
.cm {
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.cp {
  color: #099;
}

/* line 1, ../sass/theme-styles.scss */
.c1 {
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.cs {
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.gd {
  background-color: #FCC;
  border: 1px solid #C00;
}

/* line 1, ../sass/theme-styles.scss */
.ge {
  font-style: italic;
}

/* line 1, ../sass/theme-styles.scss */
.gr {
  color: red;
}

/* line 1, ../sass/theme-styles.scss */
.gh {
  color: #030;
}

/* line 1, ../sass/theme-styles.scss */
.gi {
  background-color: #CFC;
  border: 1px solid #0C0;
}

/* line 1, ../sass/theme-styles.scss */
.go {
  color: #AAA;
}

/* line 1, ../sass/theme-styles.scss */
.gp {
  color: #009;
}

/* line 1, ../sass/theme-styles.scss */
.gu {
  color: #030;
}

/* line 1, ../sass/theme-styles.scss */
.gt {
  color: #9C6;
}

/* line 1, ../sass/theme-styles.scss */
.kc {
  color: #069;
}

/* line 1, ../sass/theme-styles.scss */
.kd {
  color: #069;
}

/* line 1, ../sass/theme-styles.scss */
.kn {
  color: #069;
}

/* line 1, ../sass/theme-styles.scss */
.kp {
  color: #069;
}

/* line 1, ../sass/theme-styles.scss */
.kr {
  color: #069;
}

/* line 1, ../sass/theme-styles.scss */
.kt {
  color: #078;
}

/* line 1, ../sass/theme-styles.scss */
.m {
  color: #F60;
}

/* line 1, ../sass/theme-styles.scss */
.s {
  color: #d44950;
}

/* line 1, ../sass/theme-styles.scss */
.na {
  color: #4f9fcf;
}

/* line 1, ../sass/theme-styles.scss */
.nb {
  color: #366;
}

/* line 1, ../sass/theme-styles.scss */
.nc {
  color: #0A8;
}

/* line 1, ../sass/theme-styles.scss */
.no {
  color: #360;
}

/* line 1, ../sass/theme-styles.scss */
.nd {
  color: #99F;
}

/* line 1, ../sass/theme-styles.scss */
.ni {
  color: #999;
}

/* line 1, ../sass/theme-styles.scss */
.ne {
  color: #C00;
}

/* line 1, ../sass/theme-styles.scss */
.nf {
  color: #C0F;
}

/* line 1, ../sass/theme-styles.scss */
.nl {
  color: #99F;
}

/* line 1, ../sass/theme-styles.scss */
.nn {
  color: #0CF;
}

/* line 1, ../sass/theme-styles.scss */
.nt {
  color: #2f6f9f;
}

/* line 1, ../sass/theme-styles.scss */
.nv {
  color: #033;
}

/* line 1, ../sass/theme-styles.scss */
.ow {
  color: #000;
}

/* line 1, ../sass/theme-styles.scss */
.w {
  color: #bbb;
}

/* line 1, ../sass/theme-styles.scss */
.mf {
  color: #F60;
}

/* line 1, ../sass/theme-styles.scss */
.mh {
  color: #F60;
}

/* line 1, ../sass/theme-styles.scss */
.mi {
  color: #F60;
}

/* line 1, ../sass/theme-styles.scss */
.mo {
  color: #F60;
}

/* line 1, ../sass/theme-styles.scss */
.sb {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.sc {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.sd {
  color: #C30;
  font-style: italic;
}

/* line 1, ../sass/theme-styles.scss */
.s2 {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.se {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.sh {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.si {
  color: #A00;
}

/* line 1, ../sass/theme-styles.scss */
.sx {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.sr {
  color: #3AA;
}

/* line 1, ../sass/theme-styles.scss */
.s1 {
  color: #C30;
}

/* line 1, ../sass/theme-styles.scss */
.ss {
  color: #FC3;
}

/* line 1, ../sass/theme-styles.scss */
.bp {
  color: #366;
}

/* line 1, ../sass/theme-styles.scss */
.vc {
  color: #033;
}

/* line 1, ../sass/theme-styles.scss */
.vg {
  color: #033;
}

/* line 1, ../sass/theme-styles.scss */
.vi {
  color: #033;
}

/* line 1, ../sass/theme-styles.scss */
.il {
  color: #F60;
}

/* line 1, ../sass/theme-styles.scss */
.css .o, .css .o + .nt, .css .nt + .nt {
  color: #999;
}

/* line 2, ../sass/theme-styles.scss */
.typography-section {
  margin-bottom: 50px;
}

/* line 5, ../sass/theme-styles.scss */
.typography-section .title {
  margin-bottom: 28px;
}

/* line 8, ../sass/theme-styles.scss */
.typography-section .form-group {
  margin-bottom: 40px;
}

/* line 11, ../sass/theme-styles.scss */
.btn-padding .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 15, ../sass/theme-styles.scss */
.bs-example-control-sizing .bootstrap-select {
  margin-top: 10px;
}

/*************** promo-feature *********************/
@media (max-width: 991px) {
  /* line 20, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image {
    max-width: 450px;
  }
}
/* line 25, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-1 {
  left: 87%;
  top: 20%;
}
/* line 29, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-1 .line {
  width: 90px;
}
@media (max-width: 991px) {
  /* line 29, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-1 .line {
    width: 50px;
  }
}
/* line 36, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-2 {
  left: 54%;
  top: 28%;
}
/* line 40, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-2 .line {
  width: 320px;
}
@media (max-width: 991px) {
  /* line 40, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-2 .line {
    width: 235px;
  }
}
/* line 47, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-3 {
  left: 87%;
  top: 49%;
}
/* line 51, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-3 .line {
  width: 90px;
}
@media (max-width: 991px) {
  /* line 51, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-3 .line {
    width: 50px;
  }
}
/* line 58, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-4 {
  left: 39%;
  top: 70%;
}
/* line 62, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-4 .line {
  width: 235px;
}
@media (max-width: 991px) {
  /* line 62, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-4 .line {
    width: 169px;
  }
}
/* line 69, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-5 {
  left: 44%;
  top: 15.5%;
}
/* line 73, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-5 .line {
  width: 220px;
}
@media (max-width: 991px) {
  /* line 73, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-5 .line {
    width: 180px;
  }
}
/* line 80, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-6 {
  left: 72%;
  top: 30%;
}
/* line 84, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-6 .line {
  width: 210px;
}
@media (max-width: 991px) {
  /* line 84, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-6 .line {
    width: 150px;
  }
}

.promo-box .promo-feature .image .bullet-7 {
  left: 35%;
  top: 53%;
}
/* line 84, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-7 .line {
  width: 168px;
}
@media (max-width: 991px) {
  /* line 84, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-7 .line {
    width: 139px;
  }
}

.promo-box .promo-feature .image .bullet-8 {
  left: 20%;
  top: 51%;
}
/* line 84, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-8 .line {
  width: 84px;
}
@media (max-width: 991px) {
  /* line 84, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-8 .line {
    width: 47px;
  }
}

.promo-box .promo-feature .image .bullet-9 {
  left: 57%;
  top: 73%;
}
/* line 84, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-9 .line {
  width: 370px;
}
@media (max-width: 991px) {
  /* line 84, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-9 .line {
    width: 180px;
  }
}

.promo-box .promo-feature .image .bullet-10 {
  left: 87%;
  top: 97%;
}
/* line 84, ../sass/theme-styles.scss */
.promo-box .promo-feature .image .bullet-10 .line {
  width: 758px;
}
@media (max-width: 991px) {
  /* line 84, ../sass/theme-styles.scss */
  .promo-box .promo-feature .image .bullet-10 .line {
    width: 348px;
  }
}

@media (max-width: 767px) {
  /* line 96, ../sass/theme-styles.scss */
  .banners-section-home-3 .fp-tableCell .section-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  /* line 104, ../sass/theme-styles.scss */
  .empty-content {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  /* line 109, ../sass/theme-styles.scss */
  .promo-block {
    margin-top: 30px;
  }
}
/* line 114, ../sass/theme-styles.scss */
.promo-block h2 {
  font-size: 2.25em;
}
/* line 117, ../sass/theme-styles.scss */
.promo-block hr {
  border-color: rgba(0, 0, 0, 0.05);
  margin: 20px 0 30px;
}
