.code-wrapper {
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 35px;
	overflow: hidden;
	position: relative;
	&:before {
		content:'';
		display: block;
		position: absolute;
		background-color: #f5f5f5;
		top: 0;
		left: 0;
		height: 100%;
		width: 39px;
	}
	.copy-btn, #copyNonFormated {
		width: 53px;
		padding: 0;
		text-align: center;
		font-size: 0.7em;
		height: 22px;
		right: 0;
		bottom: 17px;
		display: block;
		z-index: 3;
		position: absolute;
		background-color: #E5E5E5;
		transition: background-color 0.4s;
		&.zeroclipboard-is-hover {
			background-color: $mainThemeColor;
			transition: background-color 0.4s;
		}
	}
}

#alert-msg {
	width: 100%;
	top: 20%;
	position: fixed;
	text-align: center;
	z-index: 10;
	display: none;
	p {
		background-color: rgba(#d02b3b, 0.85);
		text-align: center;
		color: #fff;
		display: inline-block;
		padding: 1px 15px;
		border-radius: 4px;
		box-shadow: 0 2px 2px #777;
	}
}

.footer.marginLeft {
	& + #alert-msg {
		margin-left: 135px;
	}
}

// ****************
// GENERATOR
#inputCode {
	width: 100%;
	min-height: 240px;
}
#btnGenerate {
	float: left;
}
#select-lang {
	width: 130px;
	& + .selectBox {
		float: right;
	}
}
.num-line {
	float: right;
	margin-top: 12px;
	margin-right: 30px;
}
.not-numered {
	padding-left: 20px;
	&:before {
		display: none;

	}
}
// Interface elements.
.code-block {
	max-height: 205px;
	border-radius: 4px;
	li {
		line-height: 1.5em;
		background-color: transparent;
		transition: background-color 0.2s;
		&:hover {
			cursor: pointer;
			transition: background-color 0.2s;
			background-color: #f2f2f2;
		}
	}
	.scroll-element_track {
		display: none;
	}
	.scroll-bar {
		background-color: #E5E5E5;
		transition: background-color 0.2s;
		&:hover {
			background-color: $mainThemeColor;
			transition: background-color 0.2s;
		}
	}
}
/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }

.str {
	color: $strContent;
}
.kwd {
	color: $keywordStyle;
}
.com {
	color: $commentStyle;
}
.typ {
	color: $typeNAme;
}
.lit {
	color: $literalValue;
}
.tag {
	color: $tagColor;
}
.atn {
	color: $attrName;
}
.atv {
	color: $attrValue;
}
.dec, .var {
	color: $declVariables;
}
.fun {
	color: $functionStyle;
}
.pun, .opn, .clo { color: #660; }

/* Specify class=linenums on a pre to get line numbering */
.code-block ol {
	font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	padding-left: 37px;
	color: #aaa;
	padding-top: 0;
	li {
		position: relative;
		// white-space: nowrap;
		&:before {
			content:'';
			display: block;
			position: relative;
			width: 10px;
			height: 1.4em;
			background-color: inherit;
			left: 0px;
			float: left;
			span {
				float: left;
			}
		}
		span {
			&:first-child {
				padding-left: 20px;
			}
		}
	}
}

// Generator
#genSyntCode {
	clear: both;
	display: none;
	opacity: 0;
	max-height: 400px;
	width: 100%;
	transition: opacity 1.1s;
	&.visible {
		opacity: 1;
		display: block;
		transition: opacity 1.1s;
	}
}
