.footer {
	width: 100%;
	height: 72px;
	position: absolute;
	bottom: 0;
	background-color: $bgGray;
	transition: width 0.4s;
	transition: left 0.4s;
	.row {
		padding-top: 0;
		padding-bottom: 0;
		background-color: transparent;
	}
	.fa {
		line-height: 1.6em;
		border-bottom: 0;
		margin-top: 28px;
		float: right;
		color: #aaa;
		font-size:0.7em;
		margin-left: 24px;
		padding-left: 7px;
		padding-right: 7px;
		transition: color 0.2s;
		&:hover {
			color: #111;
			text-decoration: none;
			transition: color 0.2s;
		}
		&:first-child {
			padding-right: 0;
		}
	}
	p {
		color: #c0c0c0;
		width:210px;
		font-size: 0.7em;
		margin-top: 16px;
		margin-bottom: 0;
		span {
			color: #777;
		}
	}
}