// Custom icon "Menu button". Use in main menu and header button "Contents"
.wrap-span {
	display: block;
	width: 25px;
	float: left;
	margin-bottom: 14px;
	position: relative;
	margin-right: 9px;
	top: 6px;
	span {
		display: block;
		width: 25px;
		height: 2px;
		border-radius: 30px;
		margin-bottom: 4px;
		background-color: $menuTxtColor;
		@include bgTransition;
	}
}

#mainNav {
	position: fixed;
	height: 100%;
	width: 270px;
	z-index: 12;
	background-color: $mainThemeColor;
	left: 0;
	top: 0;
	transition: left 0.4s;
	& > .nav {
		margin-top: 63px;
		overflow: hidden;
	}
	& * {
		pointer-events: auto !important;
	}
	&.closeMenu {
		left: -100%;
		transition: left 0.4s;	
	}
	.scroll-element {
		width: 6px;
	} 
	.nav {
		& > li {
			& > a {
				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	#showMenuBtn {
		color: #fff;
		line-height: 59px;
		font-size: 1.25em;
		font-weight: 300;
		padding-left: 20px;
		display: block;
		position: absolute;
		width: 100%;
		opacity: $opacityNavBtn;
		z-index: 2;
		background-color: $mainThemeColor;
		border-bottom: 4px solid rgba(232, 232, 232, 0.3);
		&:hover, &:focus {
			cursor: pointer;
		}
		.wrap-span {
			margin-left: 2px;
			top: 23px;
			span {
				background-color: #FFF;
				width: 27px;
				height: 2px;
			}
		}
		.close-cross {
			position: absolute;
			top: 29px;
			right: 44px;
		}
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			border-top: 1px solid rgba(255, 255, 255, .2);
			@include bgTransition;
			&.active {
				@include bgTransition;
				background-color: darken($mainThemeColor, 3%);
			}
			&:last-child {
				border-bottom: 1px solid rgba(255, 255, 255, .2);	
			}

			// Off hovers in tablets
			@media  (min-width: $tablets) {
				&:hover {
					@include bgTransition;
					cursor: pointer;
					background-color: darken($mainThemeColor, 11%);
					& + li {
						background-color: darken($mainThemeColor, 4.5%);
						@include bgTransition;
						& + li:not(.drop-menu-btn) {
							background-color: darken($mainThemeColor, 1.7%);
							@include bgTransition;
						}
					}
				}
				&.drop-menu-btn:hover {
					& + li {
						background-color: transparent;
						& + li {
							background-color: transparent;
						}
					}
				}
			}
			
			&.firstHover {
				background-color: darken($mainThemeColor, 1.7%);
				@include bgTransition;
			}
			&.thirdHover {
				background-color: darken($mainThemeColor, 4.5%);
				@include bgTransition;
			}
			// STYLES FOR DROPDOWN MENU
			&.drop-menu-btn {
				&.active {
					font-weight: 400;
				}
				& .nav {
					max-height: 0;
					padding-top: 0;
					overflow: hidden;
					background-color: $mainThemeColor;
					transition: max-height 0.3s;
					li {
						padding: 0 0 0 21px;
						font-size: 0.66em;
						border: none;
						min-height: 1em;
						&:hover {
							& + li {
								background-color: transparent;
								& + li {
									background-color: transparent;
								}
							}
						}
						&.active {
							background-color: darken($mainThemeColor, 3%);
						}
						&:first-child {
							margin-top: 5px;
						}
						&:last-child {
							margin-bottom: 19px;
						}
						a {
							font-size: 1.45em;
							line-height: 25px;
						}
					}
				}
				&.active .nav {
					max-height: 1000px;
					transition: max-height 0.3s;
				}
			}
			a {
				font-size: 1.1em;
				line-height: 49px;
				display: block;
				padding: 0 0 0 20px;
				color: #fff;
				text-decoration: none;
				border-bottom: none;
				@include usrSelectNone;
				&:hover, &:focus {
					text-decoration: none;
					border-bottom: none;
				}
				&:focus, &:visited, &:active {
					text-decoration: none;
					border-bottom: none;
				}
			}
		}
	}

	#more-btn	 {
		line-height: 36px;
		padding-left: 20px;
		background-color: darken($mainThemeColor, 14%);
		opacity: $opacityNavBtn;
		text-decoration: none;
		border-bottom: none;
		display: block;
		position: absolute;
		bottom: 0;
		z-index: 99;
		width: 270px;	
		color: rgba(255, 255, 255, 0.5);
		&:hover, &:focus {
			text-decoration: none;
			border-bottom: none;
		}
	}
	.slimScrollBar {
		opacity: 0.7 !important;
		margin-top: 65px;
	}
	.slimScrollRail {
		width: 2px !important;
		margin-right: 1px;
		margin-top: 65px;
	}
}