/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
  padding: 0 !important;
  position: relative;
  & > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: hidden !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }
}
 
.scroll-element {
  display: none;
  box-sizing: content-box;
  &.scroll-y.scroll-scrolly_visible {
    display: block;
  }
  &.scroll-bar,
  &.scroll-arrow {
    cursor: default;
  }
  div {
    box-sizing: content-box;
  }
} 
/*************** SCROLLBAR RAIL ***************/
.scroll-element {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
  &.scroll-y {
    height: 100%;
    min-height: 100%;
    padding: 0 2px 0 3px;
    right: 0;
    top: 0;
    width: 7px;
  }
  div {
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  .scroll-element_track {
    width: 2px;
    background-color: rgba(0, 0, 0, .1);
    position: relative;
    left: 1px;
  }

  .scroll-bar {
    background-color: rgba(255, 255, 255, .7);
    transition: background-color 0.2s;
    border-radius: 2px;
    width: 4px;
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.9);
      transition: background-color 0.2s;
    }
  }
}

// 
/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    margin-right: 0 !important;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
// Scroll Y
.scroll-element {
  &.scroll-x {
    bottom: 0;
    height: 4px;
    left: 0;
    min-width: 100%;
    width: 100%;
    .scroll-bar {
      height: 4px;
      min-width: 10px;
      top: 0px;
    }
    .scroll-element_outer {
      height: 4px; 
    }
  }
}

.scroll-content.scroll-scrollx_visible {
  top:  -17px; margin-top:  17px;
}
 

