// VARIABLES
$bgGray:  #f5f5f5;
$fontColor: #111;
$menuTxtColor: #c5c5c5;
$mainThemeColor: #d73e4d;
$fontWeight: 300;
$opacityNavBtn: 0.87;
$borderBMenu: 4px solid #e8e8e8;

$googleColor: #dd4b39;
$facebookColor: #5176c9;
$twitterColor: #3faeee;
$behanceColor: #393935;
$envatoColor: #9fce62;

$phones: 766px;
$tablets: 1200px;
$tablets-portrait: 992px;
$onSlideLMenu: 1210px;

// Code 
$attrName: #31923d;
$attrValue: #d40746;
$tagColor: #2f3e6f;
$declVariables: #606;
$strContent: #080;
$keywordStyle: #008;
$commentStyle: #aaaaaa;
$typeNAme: #606;
$literalValue: #066;
$functionStyle: red;

// MIXINS
@mixin fontAwesome {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin textTransition{
	-webkit-transition: color 0.25s;
	transition: color 0.25s;
}
@mixin bgTransition{
	-webkit-transition: background 0.25s;
	transition: background 0.25s;
}
@mixin heightTransition{
	-webkit-transition: max-height 0.2s;
	transition: max-height 0.2s;
}
@mixin usrSelectNone{
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
@mixin separateLine {
	background-color: #eee;
	display: block;
}